.cart-widget  {
    position: relative;    
}

.pill   {
    position: absolute;
    background-color: red;
    padding: 2px 6px;
    font-size: 16px;
    top: -8px;
    right: -15px;
    border-radius: 20px;
}

.cart-widget__cart   {
    font-size: 40px;
    cursor: pointer;
}
